#bloco1:hover {
    transform: scale(1.15);
}

#bloco2:hover {
    transform: translateY(10px) translateX(10px);
}

#bloco3:hover {
    transform: rotate3d(0, 1, 0, 180deg);
}

#bloco4:hover {
    opacity: 0;
}

